
# Enable the Rewrite Engine
RewriteEngine On

# Set the base URL for all subsequent rules
RewriteBase /

# Redirect all requests for /php-api to the PHP server
# RewriteEngine On
# RewriteCond %{REQUEST_URI} ^/php-api/ [NC]
# RewriteRule ^ - [L]1

# Allow direct access to existing files and directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^$ /index.html [L]
RewriteRule ^home$ /index.html [L]
RewriteRule ^paint-rack$ /index.html [L]
RewriteRule ^test/test$ /index.html [L]

RewriteRule ^ /index.html [R=404,L]

# Custom 404 Error Page
ErrorDocument 404 /index.html
